.home-page {
  padding: 48px 0 0 0;
}

.home-page__gallery {
  margin-bottom: 32px;
}

.home-page__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-areas:
    'Title Contact'
    'Description Contact'
  ;
}

.home-page__title {
  grid-area: Title;
  color: $generalTextColor;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 18px;
}

.home-page__description {
  color: $generalTextColor;
  grid-area: Description;
}

.home-page__contact {
  color: $generalTextColor;
  grid-area: Contact;
}
