@import './colors';
@import './atoms/atoms';
@import './molecules/molecules';
@import './organisms/organisms';
@import './pages/pages';

* {
  margin: 0;
  padding: 0;
}

html, body {
  color: $generalTextColor;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #f5f5f5;
}

h2 {
  color: $generalTextColor;
}

.main {
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
}
