@page "/Home/{HomeId}"

@using FreeBnB.Shared

<div>

</div>

@code {
  [Parameter]
  public string HomeId { get; set; }

  private Home home = new Home();

  protected async override void OnInitialized()
  {
    await GetHome(HomeId);
  }

  public async Task GetHome(string Id)
  {
    await Task.FromResult(new Home() { Id = 1, Name = "James" });
  }
}
