@page "/"
@using Services.Interfaces
@using FreeBnB.Shared

@inject IHomeService HomeService

<div class="home">
  <h2>Find a place for you...</h2>

  <Homes HomesContent="@homes" />
</div>

@code {
  public List<Home> homes { get; set; } = new List<Home>();

  protected override async Task OnInitializedAsync()
  {
    homes = await HomeService.GetHomes();
  }
}
