<!-- <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
</NavLink> -->

<div class="header">
  <div class="header__content-wrapper">
    <h1 class="header__title">freebnb</h1>
    <div class="nav header__nav">
      <NavLink class="nav__link" href="/Places" Match="NavLinkMatch.All">
        Home
      </NavLink>
      <NavLink class="nav__link" href="/Places" Match="NavLinkMatch.All">
        Places
      </NavLink>
      <NavLink class="nav__link" href="/Places" Match="NavLinkMatch.All">
        Signin
      </NavLink>
    </div>
  </div>
</div>


@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
